<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Customer</title>
</head>
<body>

    <th:block th:fragment="customer" th:object="${customer}">
        <span>Nabywca:</span>
        <span>nazwa: <span th:text="*{name}">Drogi kliencie</span></span>
        <span>ulica: <span th:text="*{address.street address.home}"> </span><span th:if="*{address.local}">/[[*{address.local}]]</span></span>
        <span>poczta: <span th:text="*{address.city, address.post}"></span></span>
        <span>kraj: [[*{address.country}]]</span>
        <span>nip: [[*{nip}]]</span>
    </th:block>

    <th:block th:fragment="customerTable" th:object="${customer}">
        <table class="seller">
            <thead>
            <tr>
                <th colspan="2" style="text-align: center;">Kupujacy: </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="tableTextLeft">
                    nazwa:
                </td>
                <td class="tableTextRight" th:text="*{name}">
                    Blad!
                </td>
            </tr>
            <tr>
                <td class="tableTextLeft">
                    ulica:
                </td>
                <td class="tableTextRight" >
                    <span> [[*{address?.street}]] [[*{address?.home}]]<span th:if="*{address.local}">/[[*{address.local}]]</span></span>
                </td>
            </tr>
            <tr>
                <td class="tableTextLeft">
                    poczta:
                </td>
                <td class="tableTextRight">
                    [[*{address.city}]] [[*{address.post}]]
                </td>
            </tr>
            <tr>
                <td class="tableTextLeft">
                    kraj:
                </td>
                <td class="tableTextRight" th:text="*{address.country}">
                    Blad!
                </td>
            </tr>
            <tr>
                <td class="tableTextLeft">
                    nip:
                </td>
                <td class="tableTextRight" th:text="*{nip}">
                    Blad!
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>

</body>
</html>