<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invoice table</title>
</head>
<body>
    <th:block th:fragment="productsTable" th:object="${invoice}">
        <table>
            <thead>
                <tr class="tableHead">
                    <th>
                        Lp.
                    </th>
                    <th>
                        Nazwa:
                    </th>
                    <th>
                        Cena netto:
                    </th>
                    <th>
                        Ilość:
                    </th>
                    <th>
                        Stawka Vat:
                    </th>
                    <th>
                        Vat / szt:
                    </th>
                    <th>
                        Suma netto:
                    </th>
                    <th>
                        Suma VAT:
                    </th>
                    <th>
                        Suma brutto:
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr><td colspan="9">
                    <hr />
                </td></tr>
                <tr class="smallerFont" th:each="product, iStat : ${invoice.products}">
                    <td>
                        [[${iStat.count}]]
                    </td>
                    <td>
                        [[${product.productName}]]
                    </td>
                    <td>
                        [[${product.unitPrice}]]
                    </td>
                    <td>
                        [[${product.quantity}]]
                    </td>
                    <td>
                        [[${product.vatRate}]]
                    </td>
                    <td>
                        [[${product.vatAmount}]]
                    </td>
                    <td>
                        [[${product.price}]]
                    </td>
                    <td>
                        [[${product.vat}]]
                    </td>
                    <td>
                        [[${product.priceWithVat}]]
                    </td>
                </tr>
                <tr>
                    <td colspan="6"></td>
                    <td colspan="3"><hr /></td>
                </tr>
                <tr>
                    <td colspan="6"></td>
                    <td class="">
                        [[*{priceSum}]]
                    </td>
                    <td class="">
                        [[*{vatAmountSum}]]
                    </td>
                    <td class="biggerFont">
                        <b th:text="*{priceWithVatSum}">Error</b>
                    </td>
                </tr>
            </tbody>
        </table>
    </th:block>

</body>
</html>